@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display antialiased text-slate-900 dark:text-white bg-background-light dark:bg-background-dark;
  }
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #101022; 
}
::-webkit-scrollbar-thumb {
    background: #323267; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4a4a8a; 
}
